* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.4em;
    letter-spacing: .08em;
}

.subtitle {
    margin-top: 30px;
    margin-bottom: 35px;
    color: #757575;
    font-size: 1.35em;
    font-weight: 400;
}

.about {
    padding: 30px 20px;
}
.profile {
    padding: 20px;
    background-color: #c0e3e7;
    box-shadow: 4px 9px 8px 0px rgba(34, 60, 80, 0.2);
    margin-bottom: 30px;
}

.profile__avatar {
    width: 195px;
    height: 195px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 33px;
}

.profile__pic {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.profile__title {
    font-size: 23px;
    text-align: center;
    margin-bottom: 16px;
}

.profile__subtitle {
    text-align: center;
    font-size: 16px;
    opacity: 0.65;
    margin-bottom: 22px;
}

.profile__networks {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile__network {
    width: 20px;
    height: 20px;
}

.profile__network-pic {
    width: 100%;
    height: 100%;
}

.instagram {
    padding: 20px;
    box-shadow: 4px 9px 8px 0px rgba(34, 60, 80, 0.2);
}

.instagram__title {
    text-align: center;
    color: #757575;
    font-size: 15px;
    margin-bottom: 20px;
}

.instagram__items {
    list-style-type: none;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
}

.instagram__item-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}


.hello {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 50px;
}

.title {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
}

.text {
    text-align: justify;
}

.personal__list {
    list-style: none;
}

.personal__category {
    color: #010101;
    font-size: 13px;
    font-weight: 700;
}

.personal__info {
    font-size: 14.5px;
    margin-bottom: 10px;
}

.lang__item {
    margin-bottom: 22px;
}
.lang__item:last-child {
    margin-bottom: 0px;
}

.lang__item-text {
    font-size: .85em;
    line-height: 1.2em;
    display: block;
    margin-bottom: 0.7em;
    font-weight: 700;
}

.lang__circles {
    display: flex;
}

.lang__circle {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #c0e3e7;
    margin-right: 5px;
}

.lang__circle_filled {
    background-color: #c0e3e7;
}

.lang__level {
    font-size: .8em;
    line-height: .938em;
    color: #757575;
}

.skills__item {
    margin-bottom: 20px;
}

.skills__item:last-child {
    margin-bottom: 0;
}

.skills__item-text {
    font-size: .85em;
    line-height: 1.2em;
    margin-bottom: 0.7em;
    font-weight: 700;
}

.skills__line {
    height: 5px;
    background-color: #eeeeee;
    position: relative;
}

.skills__line::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: #c0e3e7;
    height: 100%;
}
.skills__line_first::before{
    width: 95%;
}
.skills__line_second::before{
    width: 85%;
}
.skills__line_third::before{
    width: 70%;
}
.skills__percent {
    position: absolute;
    right: 0;
    top: -25px;
}

.extra__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.extra__item {
    margin-bottom: 20px;
}
.extra__circle {
    position: relative;
    display: inline-block;
    width: 128px;
    height: 8em;
    position: relative;
    border-radius: 50%;
}

.extra__circle:after {
    border-radius: 50%;
    display: block;
    content: "";
    background: #fff;
    position: absolute;
    left: .5em;
    top: .5em;
    height: 7em;
    width: 7em;
}

.extra__circle_first {
    background-image: linear-gradient(196deg, transparent 50%, #c0e3e7 50%),
    linear-gradient(90deg, #eeeeee 50%, #c0e3e7 50%);
}

.extra__circle_second {
    background-image: linear-gradient(162deg, transparent 50%, #c0e3e7 50%),
    linear-gradient(90deg, #eeeeee 50%, #c0e3e7 50%);
}

.extra__circle_third {
    background-image: linear-gradient(253deg, transparent 50%, #c0e3e7 50%),
    linear-gradient(90deg, #eeeeee 50%, #c0e3e7 50%);
}

.extra__percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.extra__item-text {
    font-size: .85em;
    line-height: 1.2em;
    display: block;
    font-weight: 700;
    width: 128px;
    text-align: center;
    margin-top: 8px;
}

.me__list {
    padding-left: 50px;
}

.me__item {
    font-weight: 700;
    line-height: 2.4em;
    color: #010101;
    font-size: 16px;
    list-style: disc;
}

.i__item {
    font-weight: 500;
    line-height: 2.4em;
    color:#010101 ;
    font-size: 16px;

}
 .i__item {
     padding-left: 50px;
 }

 .edu__list {
     padding-left: 20px;
     border-left: 5px solid #c0e3e7;
 }

 .edu__item {
     margin-bottom: 20px;
 }

 .edu__numbers {
     color: #c0e3e7;
     font-weight: bold;
 }

.work__text {
    margin-bottom: 10px;
}

.work__content {
    text-align: justify;
}










